<div class="oneBook">
    <div class="book-img">
  <a 
  class="book-container"
  rel="noreferrer noopener"
>
  <div class="book">
    <img class="userProfileImage img-fluid rounded-start"
      alt="bookCover"
      src="<%= oneBook.image %>"
      />
  </div>
</a>
</div>
  <div class="text">
    <h3 class="title"> <%= oneBook.title  %> </h3>
    <h5 class="author"> <%= oneBook.author  %> </h5>
    <p class="description"><%= oneBook.description %></p>
  </div>
  <div class="cart" id="cart">
    <div class="title-C">cart</div>
    <div id="title-C"></div>
</div>
</div>
<form action="/<%= oneBook._id %>/delete" method="POST">
<div class="oneBook-btn">
<button class="bor" type="submit"  onclick="addToCart(oneBook)">Borrow</button> 
</form>
<form action="/books">
  <button class="insert" type="submit">Insert</button>
</div>
</form>

